[Desktop Entry]
Name=PlasmaTube
Name[ca]=PlasmaTube
Name[ca@valencia]=PlasmaTube
Name[cs]=PlasmaTube
Name[de]=PlasmaTube
Name[es]=PlasmaTube
Name[fi]=PlasmaTube
Name[fr]=PlasmaTube
Name[it]=PlasmaTube
Name[ko]=PlasmaTube
Name[nl]=PlasmaTube
Name[pa]=ਪਲਾਜ਼ਮਾ-ਟਿਊਬ
Name[pl]=PlasmaTube
Name[pt]=PlasmaTube
Name[pt_BR]=PlasmaTube
Name[ro]=PlasmaTube
Name[sk]=PlasmaTube
Name[sl]=PlasmaTube
Name[uk]=PlasmaTube
Name[x-test]=xxPlasmaTubexx
Comment=Watch (YouTube) videos
Comment[ca]=Veure vídeos (YouTube)
Comment[ca@valencia]=Veure vídeos (YouTube)
Comment[cs]=Sledujte videa (YouTube)
Comment[de]=YouTube-Videos ansehen
Comment[es]=Ver vídeos (de YouTube)
Comment[fi]=Katso (YouTube-) videoita
Comment[fr]=Regarder des vidéos (YouTube)
Comment[it]=Guarda i video (YouTube)
Comment[ko]=(YouTube) 동영상 보기
Comment[nl]=(YouTube-)video's kijken
Comment[pa]=ਵੀਡੀਓ ਵੇਖੋ (ਯੂਟਿਊਬ)
Comment[pl]=Oglądaj filmy z YouTube
Comment[pt]=Ver vídeos (YouTube)
Comment[pt_BR]=Assista vídeos (YouTube)
Comment[ro]=Vizualizează filmulețe (de pe YouTube)
Comment[sk]=Pozeranie YouTube videa
Comment[sl]=Glej (YouTube) videoposnetke
Comment[uk]=Перегляд відео (з YouTube)
Comment[x-test]=xxWatch (YouTube) videosxx
Exec=plasmatube
Icon=org.kde.plasmatube
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;Player;
