[Desktop Entry]
Name=PlasmaTube
Name[ar]=بلازما تيوب
Name[ast]=PlasmaTube
Name[az]=PlasmaTube
Name[be]=PlasmaTube
Name[ca]=PlasmaTube
Name[ca@valencia]=PlasmaTube
Name[cs]=PlasmaTube
Name[de]=PlasmaTube
Name[en_GB]=PlasmaTube
Name[eo]=PlasmaTube
Name[es]=PlasmaTube
Name[eu]=PlasmaTube
Name[fi]=PlasmaTube
Name[fr]=PlasmaTube
Name[gl]=PlasmaTube
Name[he]=PlasmaTube
Name[hi]=प्लाज़्माट्यूब
Name[hu]=PlasmaTube
Name[ia]=PlasmaTube
Name[id]=PlasmaTube
Name[is]=PlasmaTube
Name[it]=PlasmaTube
Name[ka]=PlasmaTube
Name[ko]=PlasmaTube
Name[lt]=PlasmaTube
Name[lv]=PlasmaTube
Name[nl]=PlasmaTube
Name[nn]=PlasmaTube
Name[pa]=ਪਲਾਜ਼ਮਾ-ਟਿਊਬ
Name[pl]=PlasmaTube
Name[pt]=PlasmaTube
Name[pt_BR]=PlasmaTube
Name[ro]=PlasmaTube
Name[ru]=PlasmaTube
Name[sk]=PlasmaTube
Name[sl]=PlasmaTube
Name[sv]=PlasmaTube
Name[tr]=PlasmaTube
Name[uk]=PlasmaTube
Name[x-test]=xxPlasmaTubexx
Name[zh_CN]=PlasmaTube
Name[zh_TW]=PlasmaTube
Comment=Watch (YouTube) videos
Comment[ar]=شاهد فيديوهات (يوتيوب)
Comment[ast]=Visualiza vídeos de YouTube
Comment[az]=Videolara baxın (YouTube'dən)
Comment[be]=Прагляд відэа (YouTube)
Comment[ca]=Veure vídeos (YouTube)
Comment[ca@valencia]=Veure vídeos (YouTube)
Comment[cs]=Sledujte videa (YouTube)
Comment[de]=YouTube-Videos ansehen
Comment[en_GB]=Watch (YouTube) videos
Comment[eo]=Rigardo (YouTube) filmetojn
Comment[es]=Ver vídeos (de YouTube)
Comment[eu]=Ikusi (YouTube-ko) bideoak
Comment[fi]=Katso (YouTube-) videoita
Comment[fr]=Regarder des vidéos (YouTube)
Comment[gl]=Vexa vídeos (de YouTube).
Comment[he]=צפייה בסרטונים (מ־YouTube)
Comment[hi]=वीडियो (यूट्यूब) देखिए
Comment[hu]=YouTube videók lejátszása
Comment[ia]=Guarda viodeos (YouTube)
Comment[id]=Tonton video YouTube
Comment[is]=Horfðu á (YouTube) myndskeið
Comment[it]=Guarda i video (YouTube)
Comment[ja]=動画 (YouTube) を視聴
Comment[ka]=უყურეთ ვიდეოებს YouTube-დან
Comment[ko]=(YouTube) 동영상 보기
Comment[lt]=Žiūrėti („YouTube“) vaizdo įrašus
Comment[lv]=Skatieties („YouTube“) video
Comment[nl]=(YouTube-)video's kijken
Comment[nn]=Sjå (YouTube)-videoar
Comment[pa]=ਵੀਡੀਓ ਵੇਖੋ (ਯੂਟਿਊਬ)
Comment[pl]=Oglądaj filmy z YouTube
Comment[pt]=Ver vídeos (YouTube)
Comment[pt_BR]=Assista vídeos (YouTube)
Comment[ro]=Vizualizează filmulețe (de pe YouTube)
Comment[ru]=Просмотр видеороликов с Youtube
Comment[sk]=Pozeranie YouTube videa
Comment[sl]=Glej (YouTube) videoposnetke
Comment[sv]=Titta på (YouTube) videor
Comment[tr]=YouTube İstemcisi
Comment[uk]=Перегляд відео (з YouTube)
Comment[x-test]=xxWatch (YouTube) videosxx
Comment[zh_CN]=观看 (YouTube) 视频
Comment[zh_TW]=觀看 (YouTube) 影片
Exec=plasmatube
Icon=org.kde.plasmatube
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;Player;
